html, body {
  height: 100%;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

body {
  background-color: #222;
  color: #ecf0f1;
}

/* bs grid shit */
.table {
  display: table;
  height: 100%;
  width: 100%;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content {
  margin: 0 auto;
}

/* photo stuff */
/* you need to replace /avatar/* with the md5 of your gravatar email */
.my-photo {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;

  background: url('https://secure.gravatar.com/avatar/e421e88e9248d199ac126fb56941b0e3?size=250px') center no-repeat;
  background-size: 250px;
}

@media
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .my-photo {
    background: url('https://secure.gravatar.com/avatar/e421e88e9248d199ac126fb56941b0e3?size=400px') center no-repeat;
    background-size: 250px;
  }
}

/* name text */
.name {
  font-size: 44px;
  text-align: center;
}

/* links */
.links {
  margin-top: 25px;
  text-align: center;
}

.links .links-text {
  font-size: 22px;
  padding-bottom: 10px;
}

.links a {
  padding-left: 15px;
  padding-right: 15px;

  font-size: 20px;
  text-decoration: none;
  color: #2ecc71;
  transition: all .2s ease-in-out;
}