@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('../fonts/vcr_osd_mono_1.001-webfont.eot');
    src: url('../fonts/vcr_osd_mono_1.001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vcr_osd_mono_1.001-webfont.woff2') format('woff2'),
         url('../fonts/vcr_osd_mono_1.001-webfont.woff') format('woff'),
         url('../fonts/vcr_osd_mono_1.001-webfont.ttf') format('truetype'),
         url('../fonts/vcr_osd_mono_1.001-webfont.svg#vcr_osd_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'vcr_osd_monoregular', monospace;
  text-transform: uppercase;
  text-shadow:
       3px 3px 0 #111111,
     -1px -1px 0 #111111,
      1px -1px 0 #111111,
      -1px 1px 0 #111111,
       1px 1px 0 #111111;
  font-weight: 300;
}

body {
  background-color: #111111;
  color: #ffffff;
}

#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

/* bs grid shit */
.table {
  display: table;
  height: 100%;
  width: 100%;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* photo stuff */
/* you need to replace /avatar/* with the md5 of your gravatar email */
.my-photo {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 4px solid #ffffff;

  display: block;
  margin-left: auto;
  margin-right: auto;

  background: url('https://secure.gravatar.com/avatar/e421e88e9248d199ac126fb56941b0e3?size=250px') center no-repeat;
  background-size: 250px;
}

.my-photo:hover {
  border-color: #FF4136;
}

@media
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  .my-photo {
    background: url('https://secure.gravatar.com/avatar/e421e88e9248d199ac126fb56941b0e3?size=500px') center no-repeat;
    background-size: 250px;
  }
}

/* name text */
.name {
  font-size: 44px;
  text-align: center;
}

/* links */
.links {
  margin-top: 30px;
  text-align: center;
}

.links .links-text {
  font-size: 30px;
  padding-bottom: 15px;
}

.links a {
  padding-left: 15px;
  padding-right: 15px;

  font-size: 25px;
  text-decoration: none;
  color: #01FF70;
}

.links a:hover {
  color: #FF4136;
}
